:root{
    --primary-color: rgb(106, 55, 207);
    --hover: rgb(44, 0, 131);
}


*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
}

/* estilização do header */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
}

 /* estilização do botao do header */
button.primary {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    padding: 9px 22px;
    border-radius: 6px;
    cursor: pointer;
}
/* estilização apenas do butao de dentro do modal */
#modal .box .form .primary{
    display: block;
    margin-left: auto;
}

/* hover do botao do header */
.primary:hover {
    background-color: var(--hover);
    transition: 0.1s;
}

/* Estilização da caixa maior */
.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

    /* estilos da coluna */
    .container .column {
        width: 250px;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        height: 600px;
        display: flex;
        flex-direction: column;

    }


        /* estilização do cabeçalho da coluna */
        .container .column .head {
            background-color: var(--primary-color);
            color: #fff;
            text-align: center;
            padding: 15px; 
        }
        
        .container .column .body{
            padding: 20px;
            overflow-y: auto;
            flex: 1;
            
        }

        .container .column .body .cardsList{
            display: flex;
            flex-direction: column;
        }  

        .container .column .body .add-btn{
            background: none;
            border: 1px solid;
            border-radius: 10px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            cursor: pointer;
            color: #444;
        }

            .container .column .body .card {
                background-color: #eee;
                border-radius: 7px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;
            }
                .container .column .body .card .info {
                    font-size: 14px;
                    color: #333;
                    display: flex;
                    flex-direction: column;
                }

/* aqui começa a estilização do modal */
#modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

/* aqui se inicia a estilização do modal */
    #modal .box{
        background-color: #fff;
        min-width: 400px;
        border-radius: 7px;
        overflow: hidden;
    }

    /* estilização do cabeçalho do modal*/
        #modal .box .head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
        }

        /* estllização do titulo */
            #modal .box .head span{
                font-size: 18px;
                font-weight: 700;
                color: #333;
            }
        /* estilização do botão do cabeçalho */
            #modal .box .head .button{
                border: none;
                background: none;
                font-size: 24px;
                font-weight: 350;
                cursor: pointer;
                color: #333;
            }
            #modal .box .head .button:hover{
                color: red;
            }
        
    /*estilização do formulario  */
        
        /* espacamento do formulario geral*/
        #modal .box .form{
            padding: 20px;
        }
            /* estilização de cada campo do formulario */
            #modal .box .form .form-group{
                margin-bottom: 15px;
            }

            /* estilização de cada nome dos campos */
            #modal .box .form label{
                display: block;
                font-size: 14px;
                margin-bottom: 5px;
                color: #333;
            }
            /* estilização dos campos de texto, de opcoes de prioridades e de datas
            Obs: estao juntos, pois tem as mesmas estilizações  */
            #modal .box .form textarea,
            #modal .box .form select,
            #modal .box .form input {
                width: 100%;
                border-radius: 7px;
                font-size: 14px;
                border: 1px solid #999;
                color: #333;
            }

            /* espacamento do campo de texto(textarea) */
            #modal .box .form textarea{
                padding: 10px 15px;
            }

            /* espacamneto do campo de opções (select´s) */
            #modal .box .form select{
               padding: 10px;
            }

            /* espacamento do campo de datas(input´s) */
            #modal .box .form input{
                padding: 10px;
            }
            